#app {
    background-image: url('https://res.cloudinary.com/gimmersta-wallpaper/image/upload/c_fill,f_auto,fl_progressive,q_auto,h_500/v1715789645/articles/GM0009NE03W_product.jpg');
    background-size: auto;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
}

#drum-machine {
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(0, 0, 0, 0.2);
}


#display {
    display: flex;
    align-items: center;
    margin: 0.5% 0;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
}


#kit-switch {
    height: 20%;
    max-height: fit-content;
}

#afro-icon {
    /* background-color: white; */
    margin-left: 15%;
    margin-top: 5%;
    height: 75%;
    width: 65%;
}

#rap-icon {
    margin-left: 15%;
    height: 80%;
    width: 70%;
}

#volume-slider {
    text-align: center;
}

input[type=range] {
    text-align: center;
    width: 50%;
    height: 100%;
    cursor: pointer;
    background: black !important;
    -webkit-appearance: slider-vertical
}

/* Animate the drum pad on active click */
.drum-pad.animate {
    animation: pop 0.2s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #drum-machine {
        width: 90%;
    }

    #grid .drum-pad {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    #grid .drum-pad {
        flex: 1 1 30%;
        margin: 5px;
    }
}