#app {
    background-image: url('public/bg.jpeg');
    background-size: auto;
}

.drum-pad {
    margin: 0.05em;
    font-size: 1.8em;
    aspect-ratio: 7/3;
    min-width: 0;
    flex: 1;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    border-radius: 0.5em;
    cursor: pointer;
}

#drum-machine {
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(0, 0, 0, 0.2);
    max-width: 90vw;
    min-width: 300px;

    width: 55%;
    border: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5em 0;
}

.drum-machine-row {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    gap: 1.5em;
}

#power-button {
    font-size: 2.25em;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    user-select: none;
    background-color: transparent;
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}


#display {
    display: flex;
    align-items: center;
    margin: 0.5% 0;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    padding-left: 0.5em;
}

#grid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid-row {
    display: flex;
    flex: 1;
}

#kit-switch {
    display: flex;
    justify-content: center;
}

#afro-icon {
    margin-left: 15%;
    margin-top: 5%;
    height: 75%;
    width: 65%;
}

#rap-icon {
    margin-left: 15%;
    height: 80%;
    width: 70%;
}

#volume-slider {
    text-align: center;
}

/* Add these properties to the children that might overflow */
#display,
#grid,
#volume-slider,
.drum-pad,
#kit-switch {
    min-width: 0;
    /* Allows flex items to shrink below their minimum content size */
    flex-shrink: 1;
    /* Allows items to shrink if necessary */
}

input[type=range] {
    text-align: center;
    width: 50%;
    height: 100%;
    cursor: pointer;
    background: black !important;
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
}

/* Animate the drum pad on active click */
.drum-pad.animate {
    animation: pop 0.2s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #drum-machine {
        width: 75%;
    }

    #display {
        font-size: 1.8em;
    }

    .drum-pad {
        font-size: 1.8em;
    }
}

@media (max-width: 576px) {
    #display {
        font-size: 1.35em;
        padding-left: 0.25em;
    }

    .drum-pad {
        font-size: 1.3em;
        aspect-ratio: 1;
    }

    #drum-machine {
        width: 80%;
    }

    .drum-machine-row {
        padding: 0.5em 1em;
        gap: 1.7em;
    }

    #power-button {
        font-size: 1.75em;
    }
}